.dictionaries {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 15px;

	padding: 10px;
	&__content {
		width: 100%;
		overflow-y: auto;
		scrollbar-width: none;

		display: flex;
		flex-direction: column;
		gap: 15px;
		font-size: 18px;
	}
	&__create {
		width: 100%;

		display: flex;
		gap: 10px;
		background: var(--tg-theme-secondary-bg-color);
		border-radius: 10px;
		height: 45px;
		padding: 0 10px;
		input {
			width: 100%;
		}
	}
}

.dictionary {
	&__content {
		width: 100%;
		height: 65px;
		min-height: 65px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.11);
		background: var(--tg-theme-secondary-bg-color);
		border-radius: 10px;
		padding: 0 10px;

		animation: 0.2s ease appearanceDictionary;

		&.disappearance {
			animation: 0.2s ease disappearanceDictionary forwards;
			pointer-events: none;
			user-select: none;
			~ .dictionary__content {
				pointer-events: none;
				transition: all 0.2s ease;
				transform: translateY(-80px);
			}
		}
	}
	&__button {
		padding-right: 5px;
		display: flex;
		justify-content: center;
		align-items: center;

		color: var(--tg-theme-subtitle-text-color);
		border-radius: 6px;
		transition: all 0.2s ease;
		&:hover {
			color: var(--tg-theme-text-color);
		}
		svg {
			cursor: pointer;
			font-size: 24px;
		}
	}
}

@keyframes appearanceDictionary {
	from {
		scale: 0.8;
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		scale: 1;
		opacity: 1;
		transform: none;
	}
}

@keyframes disappearanceDictionary {
	to {
		opacity: 0;
		scale: 0.8;
	}
}
