* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	overflow: hidden;
	font-family: "Carlito", serif;
}

body,
#root {
	width: 100dvw;
	height: 100dvh;
	color: var(--tg-theme-text-color);
}

li {
	list-style: none;
}

input,
select {
	border: none;
	background: unset;
	font-size: 100%;
	color: var(--tg-theme-text-color);
	&:focus {
		outline: none;
	}
}

a {
	color: unset;
	text-decoration: none;
}

@import "./dictionaries.scss";
@import "./words.scss";
