@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	user-select: none;
	font-family: "Carlito", serif;
	scrollbar-width: none;
}

body,
#root {
	width: 100dvw;
	height: 100dvh;
	color: var(--tg-theme-text-color);
	overflow: hidden;
}

li {
	list-style: none;
}

input,
select {
	border: none;
	background: unset;
	font-size: 100%;
	color: var(--tg-theme-text-color);
	&:focus {
		outline: none;
	}
}

a {
	color: unset;
	text-decoration: none;
}

.dictionary__content,
.word__content,
.card_front {
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.animate-disappearance.remove ~ .animate-appearance {
	pointer-events: none;
	transition: all 0.2s ease;
	transform: translateY(-80px);
}

body {
	font-size: 26px;
	font-family: "Exo 2", serif;
	font-weight: 500;
}

.content {
	justify-content: center;
}

.variants {
	position: absolute;
	top: 35%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.variants__no,
.variants__yes {
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease;
}

.card {
	position: relative;
	width: 280px;
	height: 350px;

	display: flex;
	justify-content: center;
	align-items: center;

	perspective: 1000px;
	border-radius: 10px;
	will-change: transform;
	transition: all 0.3s ease;
}

.card.active .card__front {
	transform: rotateX(45deg);
}

.card.active .card__back {
	opacity: 1;
}

.card__front,
.card__back {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;

	border-radius: 10px;
	backface-visibility: hidden;
	transition: all 0.3s ease;
}

.card__front {
	align-items: center;

	font-size: 32px;
	font-family: "Playwrite IN", serif;
	font-weight: 600;

	cursor: pointer;
	transform-origin: top;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
	will-change: transform, background-color, color;
	background: var(--tg-theme-secondary-bg-color);
}

.card__back {
	align-items: flex-end;

	will-change: color;
	opacity: 0;
}

.card__back span {
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: center;

	background: var(--tg-theme-secondary-bg-color);
	border-radius: 10px;
}

.dragging_on {
	transition: none;
}

.dragging_end {
	transition: all 0.3s ease;
}
