@import "tailwindcss";

@theme {
  --color-background: #f5e9dd;
  --color-foreground: #494949;
  --color-accent: #e85d56;
}

*::-webkit-scrollbar {
  display: none;
}

body::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  backdrop-filter: blur(10px);
}

.glass {
  backdrop-filter: blur(10px) url(#displacementFilter);
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  outline: none;
}
