@import "tailwindcss";

@theme {
  --color-background: #f5e9dd;
  --color-foreground: #494949;
  --color-accent: #e85d56;
  --color-success: #33be56;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
  outline: none;
}

.glass {
  backdrop-filter: blur(10px) url(#displacementFilter);
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  outline: none;
}
